In [9]:
import pandas as pd
import os
import glob

In [7]:
data_dir  = "../dataset"

In [22]:
data_list = glob.glob(os.path.join(data_dir, '**.csv'))
data_list

['../dataset\\submission_csv_file_random_example.csv',
 '../dataset\\x_test.csv',
 '../dataset\\x_train.csv',
 '../dataset\\y_train.csv']

In [27]:
id_col = 'ID'
target_col = "target"

In [24]:
y_train = pd.read_csv("%s/y_train.csv" % data_dir, sep=",")
x_train= pd.read_csv("%s/x_train.csv" % data_dir, sep=",")
x_test=pd.read_csv("%s/x_test.csv" % data_dir, sep=",")

In [30]:
train_df  = y_train.merge(x_train, on="ID")

In [31]:
train_df.head()

,ID,target,pid,day,abs_ret0,abs_ret1,abs_ret2,abs_ret3,abs_ret4,abs_ret5,...,rel_vol53,rel_vol54,rel_vol55,rel_vol56,rel_vol57,rel_vol58,rel_vol59,rel_vol60,LS,NLV
0,148,-3.403606,360,0,0.000000,0.000000,0.0,0.000000,0.029317,0.000000,...,0.004521,0.015771,0.009462,0.012697,0.019507,0.005101,0.010654,0.006971,-2.307230,0.646580
1,149,-2.904798,360,1,0.000000,0.000000,0.0,0.022056,0.000000,0.036711,...,0.008817,0.006589,0.005276,0.011648,0.011829,0.015558,0.001788,0.005251,-2.263960,0.487708
2,150,-2.337807,360,2,0.000000,0.000000,0.0,0.000000,0.022267,0.000000,...,0.018640,0.020972,0.012728,0.007921,0.000643,0.029692,0.016440,0.011970,-2.343106,0.544476
3,151,-2.285676,360,3,0.000000,0.007384,0.0,0.000000,0.000000,0.007417,...,0.013628,0.020397,0.016834,0.031869,0.012468,0.065173,0.048286,0.021237,-2.331621,0.633181
4,152,-2.606321,360,4,0.088086,0.109737,0.0,0.014648,0.003662,0.036627,...,0.008228,0.013394,0.009415,0.024983,0.019524,0.018342,0.008442,0.012525,-2.415575,0.880580